/* styles.css */

.card-widget-container {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Espaciado entre el icono de carrito y otros elementos en el Navbar */
  }
  
  /* Estilo del botón de carrito */
  .cart-button {
    background-color: rosybrown; /* Fondo transparente para que parezca solo el icono */
    border: none; /* Sin borde para que se vea más limpio */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón para indicar que es interactivo */
  }
  
  /* Estilo del icono de carrito */
  .cart-icon {
    font-size: 2rem; /* Ajusta el tamaño según tus preferencias */
    margin-right: 5px;
    color: #fff;
  }
  
  /* Agrega más estilos según tus necesidades */
  /* styles.css */

.logo-container {
    margin: 0; /* Puedes ajustar este valor según sea necesario */
    padding: 0;
  }
  
  .logo-image {
    max-width: 40%; /* Asegura que la imagen se ajuste al ancho del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
  }
  .contenedor-logo{
    padding: 0;
    margin: 0;
    width: 180px;
    height: 70px;
  }
  .containerPrincipal{
    padding-top: 20px;
  }
  
  