.card-widget-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  /* Estilo del botón de carrito */
  .cart-button {
    background-color: rosybrown;
    border: none;
    cursor: pointer;
  }
  
  /* Estilo del icono de carrito */
  .cart-icon {
    font-size: 2rem;
    margin-right: 5px;
    color: #fff;
  }
  
.logo-container {
    margin: 0;
    padding: 0;
  }
  
  .logo-image {
    max-width: 40%;
    height: auto;
  }
  .contenedor-logo{
    padding: 0;
    margin: 0;
    width: 180px;
    height: 70px;
  }
  .containerPrincipal{
    padding-top: 20px;
  }
  
  